<h1>Tanking Log</h1>
<p>Tankeos en orden cronologico</p>
<p>Para regresar a sus autos clic <%= link_to "Aqui", root_path %></p>
<p><%= flash[:notice] %> </p>
<p>Si la estacion no existe creela <%= link_to "Aqui", gas_station_new_path(:id => params[:id]) %></p>
<p>Para registrar un nuevo tankeo haga clic <%= link_to "Aqui", tanking_log_new_path(:id => params[:id]) %></p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Cost</th>
			<th>Gallon</th>
			<th>Km</th>
			<th>Date</th>
			<th>CarID</th>
			<th>Gas StationID</th>
		</tr>
	</thead>
	<tbody>
	<% @tanking_log.each do |tanking_log| %>
  <tr>
    <td><%= tanking_log.cost %></td>
    <td><%= tanking_log.gallon %></td>
    <td><%= tanking_log.km %></td>
    <td><%= tanking_log.date %></td>
    <td><%= tanking_log.car_id %></td>
    <td><%= tanking_log.gas_station_id %></td>
  </tr>
<% end %>
	</tbody>
</table>