<h1>Your Tanking App</h1>
<% if !flash[:notice].blank? %>
<div class="alert alert-success">
<button type="button" class="close" data-dismiss="alert">×</button>
<%= flash[:notice] %>
</div> 
<% end %>

<%if user_signed_in?  %> 
<p>Bienvenido: <%= @user.name %>, Aqui puedes agregar tus autos y registrar tus tanqueadas</p>
<p><%= link_to "Nuevo Auto", cars_new_path, {class:"btn"} %></p>

<% if !@cars.empty?%>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Marca</th>
			<th>Modelo</th>
			<th>Año</th>
			<th>Color</th>
		</tr>
	</thead>
	<tbody>
	<% @cars.each do |car| %>
  <tr>
    <td><%= car.brand %></td>
    <td><%= car.model %></td>
    <td><%= car.year %></td>
    <td><%= car.color %></td>
    <td><%= link_to 'Edit', cars_edit_path(:id => car), {class:"btn btn-mini"} %></td>
    <td><%= link_to 'Remove', cars_destroy_path(:id => car), {class:"btn btn-mini",:confirm => 'Esta seguro de desea eliminar este Auto?'}%></td>
    <td><%= link_to 'Tankear', tanking_log_index_path(:id => car), {class:"btn btn-mini btn-primary"} %></td>

  </tr>
<% end %>
	</tbody>
</table>

<% else %>
	<h4>No tienes ningun Auto aun, agrega uno !!</h4>

<% end %>


<% else %>
<p>Para poder ver las tanqueadas de su Auto por favor haga Login </p>
<%= link_to "Log in", new_user_session_path, {class:"btn"} %>
<% end %>